  .btnClinic {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding-right: 52px;
    padding-left: 40px;
    padding-top: 12px;
    padding-bottom: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: auto;
    height: 56px;
    overflow: hidden;
    position: relative;
    border-radius: 30px;
    gap: 8px;
    box-sizing: border-box;
  }
  .btnClinic{
      font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    /* display: flex; */
    text-align: left;
    color: FFFFFF;
  }

  .btnClinic:hover {
    background-color: white;
    color: black;
  }

  .iconContainer {
    position: relative;
    width: 24px;
    height: 24px;
    overflow: hidden;
    display: flex;
  align-items: center; /* icon ko vertically center kar diya */
  justify-content: center;
  }

  .arrowSvg {
    position: absolute;
    left: 0;
    top: 0;
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .arrow1 {
    transform: translate(0, 0);
  }

  .arrow2 {
    transform: translate(-24px, 24px);
  }

  .btnClinic:hover .arrow1 {
    transform: translate(24px, -24px);
  }

  .btnClinic:hover .arrow2 {
    transform: translate(0, 0);
  }


  @media screen and (min-width: 250px) and (max-width: 786px){
    .btnClinic{
      font-size: 14px !important;
    line-height: 20px !important;
     white-space: nowrap;
  }
  .btnClinic{
    height: 48px !important;
  }
  }