.Navmain {
  height: 80px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  position: sticky;
  top: 0px;
  z-index: 10;
}

.navLinks li a,
.navLinks li Link,
.navItem {
  text-decoration: none;
  color: #333;
  font-size: 15px;
  font-weight: 500;
  transition: color 0.3s ease;
  cursor: pointer;
}

.navLinks li a:hover,
.navItem:hover {
  color: rgb(
    21,
    144,
    153
  ) !important; 
}


.navLinks {
  display: flex; 
  list-style: none;
  gap: 25px; 
  align-items: center;
  margin: 0;
  padding: 0;
}

/* Links ki styling */
.navLinks li a {
  text-decoration: none;
  color: #333;
  font-size: 15px;
  font-weight: 500;
  transition: color 0.3s ease;
}

/* Hover effect */
.navLinks li a:hover {
  color: rgb(21, 144, 153);
}

/* Services ke side wala arrow */
.arrowDown {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-right: 2px solid #333;
  border-bottom: 2px solid #333;
  transform: rotate(45deg);
  margin-left: 6px;
  margin-bottom: 3px;
}


.contactUs {
  border: 1px solid #4a90e2;
  padding: 5px 12px;
  color: #4a90e2 !important;
  border-radius: 4px;
}



@media screen and (max-width: 1024px) {
  .navLinks {
    display: none !important;
  }
}

.button {
  background-color: rgb(222, 148, 51);
  width: 200px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  color: white;
}

.logo2 {
  display: none; 
}

.logo1 {
  display: block;
  width: 300px;
  height: 59px;
}



.button {
  gap: 8px;
  cursor: pointer;
}

.arrowBox {
  position: relative;
  width: 18px;
  height: 18px;
  overflow: hidden;
}

.arrow {
  position: absolute;
  left: 0;
  transition:
    transform 0.4s ease,
    opacity 0.4s ease;
  fill: white;
}

.arrow:first-child {
  transform: translate(0, 0);
}

.arrow:last-child {
  transform: translate(-10px, 20px);
  opacity: 0;
}

.button:hover .arrow:first-child {
  transform: translate(10px, -20px);
  opacity: 0;
}

.button:hover .arrow:last-child {
  transform: translate(0, 0);
  opacity: 1;
}
.mobileOnly {
  display: none;
}

@media screen and (min-width: 786px) and (max-width: 1024px) {
  .Navmain {
    padding-left: 1%;
    /* background-color: antiquewhite; */
    height: 80px;
    gap: 20%;
  }
  .mobileOnly {
    display: none !important;
  }
  .desktopOnly {
    display: block !important;
  }

  .logo1 {
    display: block !important;
    width: clamp(245px, 30vw, 300px) !important;
    height: auto !important;
  }
}

@media screen and (min-width: 250px) and (max-width: 786px) {
  .Navmain {
    /* width: calc(360px - 10%); */
    /* padding: 5%; */
    height: 80px;
    /* background-color: aqua; */
  }

  .desktopOnly {
    display: none !important;
  }

  .mobileOnly {
    display: block !important;
  }

  .mobileOnly .button {
    width: 110px;
    height: 35px;
    font-size: 0.8rem;
  }

  .mobileOnly .arrowBox {
    width: 14px;
    height: 14px;
  }
  .logo1 {
    display: none !important; 
  }

  .logo2 {
    display: block !important;
    width: 48px !important;
    height: 48px;
  }

  .desktopOnly {
    display: none !important;
  }
  .mobileOnly {
    display: block !important;
  }

  .navLogo {
  }
}
