.sty_form_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width:360px;
  height: 228px;
  background-color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sty_form_wrapper {
  width: 100%;
  max-width: 380px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.sty_form_group {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.sty_form_label {
  font-size: 14px;
  font-weight: 600;
  color: #1a1a1a;
  width: 100%;
  text-align: left;
}

.sty_form_input {
  background-color: #f9f9f9;
  border: 1px solid #eeeeee;
  padding: 12px 14px;
  border-radius: 4px;
  font-size: 15px;
  outline: none;
  color: #333;
}

.sty_form_input::placeholder {
  color: #c0c0c0;
}


.sty_form_active .sty_form_input {
  /* border: 2px solid #4a90e2; */
  background-color: #fff;
}

.sty_form_button_container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.sty_form_submit_btn {
  background-color: #e29939;
  color: white;
  border: none;
  padding: 14px 35px;
  border-radius: 50px; /* Pill shape */
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 12px;
  transition: all 0.2s ease;
}

.sty_form_submit_btn:hover {
  background-color: #d18a2e;
  transform: translateY(-1px);
}

.sty_form_arrow {
  font-size: 22px;
  line-height: 0;
}

@media screen and (min-width: 250px) and (max-width: 600px){
    .sty_form_container{
        width: 320px;
    }

  
}

