.wrapper {
  margin-top: 60px;
  /* background-color: #007a7a;  */
  background-image: url("../assets/bluebackground.webp");
  padding: 25px 20px;
  color: white;
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  position: relative;
  /* width: 100%; */
}

.container {
  /* max-width: 1300px; */
  display: flex;
  align-items: center;
  justify-content: space-between ;
  /* grid-template-columns: 1fr 1fr; */
  gap: 50px;
  /* align-items: center; */
  /* background-color: bisque; */
}

.contentCol{
    width: 50%;
}
.subheading {
  font-size: 16px;
  letter-spacing: 2px;
  /* opacity: 1; */
  color: #FAFAFA;
  line-height: 145%;
  display: block;
  margin-bottom: 10px;
   font-family: 'Inter', sans-serif;
}

.heading {
font-family: 'Inter', sans-serif;
/* font-size: 2.7rem; */
font-size: 56px;
  line-height: 100%;
  margin-bottom: 10px;
  font-weight: 600;
  color: #FAFAFA;
}

.head{
font-family: 'Inter', sans-serif;

}
.footerText {
font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
  opacity: 0.9;
  font-family: 'Instrument Sans', sans-serif;
}

.description{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
  opacity: 0.9;
  font-family: 'Instrument Sans', sans-serif;

}
.pointsList {
  list-style: none;
  margin-bottom: 10px;
  font-family: 'Instrument Sans', sans-serif;
 line-height: 24px;
  text-align: left;
  
}

.pointsList li {
  font-size: 16px;
  position: relative;
  padding-left: 24px;
  margin-bottom: 24px;
  font-style: italic;
  font-weight: bold;
  font-size: 16px;

}

.pointsList li::before {
  content: "▪";
  position: absolute;
  left: 0;
  color: white;
}


/* Image Frame Style */
.imageCol {
    width: 50%;
    height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}
.wrapper:hover  .imageCol{
    transform: rotate(-3deg);
}


.actualImage {
  width: 90%;
  height: 100%;
  
}
.buttonWrapper1{
   border: 1px solid #FFFFFF;
  border-radius: 50px;
  display: inline-block;
  overflow: hidden;
  min-width: auto;
  transition: all 0.3s ease;
}
.buttonWrapper1:hover {
  border: none;
}





@media (max-width: 786px) {
  .textwrapper{
    max-width: 550px;
  }
  .container {
    flex-direction: column-reverse; 
    gap: 30px;
    text-align: left; 
    padding: 20px 0;
  }

  .contentCol, .imageCol {
    width: 100%; 
  }
  .imageCol{
    position: relative;
    top: 2%;
 
  }
  
  .heading {
  
    font-size: 32px;
    text-align: right; 
    position: absolute;
    top: calc(2% + 17px);
    text-align: right;
    height: 78px;
    width: 70%;
    
  }
  .head{
    display: flex;
    align-items: center;
    justify-content: end;
    /* padding-bottom: 60%; */
  }

  .subheading {
    text-align: right; 
    position: absolute;
    top: 2%;
    text-align: right;
    /* background-color: antiquewhite; */
    width: calc(100% - 25px);
    height: 17px;
    font-size: 12px;
  }

  .actualImage {
    /* width: 85%;  */
    width: 240px;
    height: 324px;
    margin: 0 auto;
    box-sizing: border-box;
    transform: rotate(6.8deg);
    position: relative;
    top: 51px;
    padding-bottom: 50px;
    
  }

  .wrapper:hover .imageCol {
    transform: none; 
  }

  .pointsList li {
    font-size: 12px;
    line-height: 22px !important;
  }

 .pointsList {
  font-size: 14px;
  line-height: 22px;
}
.description ,.footerText{
  font-size: 14px !important;
  line-height: 22px;

}


}

@media screen and (min-width: 786px) and (max-width: 1024px){
 .subheading{
  font-size:12px ;
 }
  
 .heading{
  font-size: 40px;
 }
.pointsList {
  font-size: 14px;
  line-height: 20px;
}
.description ,.footerText{
  font-size: 14px !important;
  line-height: 20px;

}
}